<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-networks">
      <a
        href="https://github.com/RobinLB99"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a
        href="https://gitlab.com/RobinLB99"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitLab"
      >
        <fa-icon [icon]="faGitlab"></fa-icon>
      </a>
      <a
        href="https://www.linkedin.com/in/robinlugoboero"
        target="_blank"
        rel="noopener"
        aria-label="LinkedIn"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </div>
    <p class="footer-copyright">
      &copy; {{ currentYear }} Robin Joel Lugo Boero. Todos los derechos reservados.
    </p>
    <p class="footer-copyright">Hecho en Angular</p>
  </div>
</footer>
