<div class="page-container">
  <section id="career" class="career-container">
    <h1 class="career-title">Mi Trayectoria</h1>
    <div class="career-columns">
      <div class="career-column">
        <h2 class="column-title">Experiencia Laboral / Profesional</h2>
        <div class="career-items">
          @for (exp of experiences; track $index) {
          <div class="career-item">
            <h3>{{ exp.position }}</h3>
            <h4>{{ exp.company }}</h4>
            <span class="duration">{{ exp.duration }}</span>
            <p>{{ exp.description }}</p>
          </div>
          }
        </div>
      </div>
      <div class="career-column">
        <h2 class="column-title">Educación</h2>
        <div class="career-items">
          @for (edu of educations; track $index) {
          <div class="career-item">
            <h3>{{ edu.degree }}</h3>
            <h4>{{ edu.institution }}</h4>
            <span class="duration">{{ edu.duration }}</span>
            <p>{{ edu.description }}</p>
          </div>
          }
        </div>
      </div>
      <div class="career-column certification-column">
        <h2 class="column-title">Certificaciones</h2>
        <div class="career-items certification-data">
          @for (cert of certifications; track $index) {
          <div class="career-item">
            <h3>{{ cert.title }}</h3>
            <h4>{{ cert.intitution }}</h4>
            <span class="duration">{{ getMonthName(cert.dateExpetition.getMonth()) }} {{ cert.dateExpetition.getFullYear() }}</span>
            <a href="{{ cert.url }}" target="_blank">{{ cert.credentialID }}</a>
          </div>
          }
        </div>
      </div>
    </div>
  </section>
</div>
